*{
    text-decoration: none;
    margin: auto;
}
.head{
    position:fixed;
    height: 52px;
    width: 3000px;
    border-bottom: #f6f6f6 solid;
    z-index:1000;
    background-color: white;
}
.content{
    padding-left: 16px; 
    position: absolute;
    left: 185px;
}
.zhihu{
    font-size: 30px;
    color: #0084ff;
}
.home_page{
    color: #8590a6;
    font-size: 15px;
    padding-left: 30px;
}
.find{
    color: #8590a6;
    font-size: 15px;
    padding-left: 30px;
}
.answer{
    color: #8590a6;
    font-size: 15px;
    padding-left: 30px;
}
#search{
    height: 34px;
    width: 326px;
    padding-left: 16px;
    margin-left: 30px;
    outline: none;
}
#commit{
    background-color: #0084ff;
    color: aliceblue;
    border: none;
    width: 58px;
    height: 34px;
    margin-left: 16px;
}
.ask{
    background-color: #0084ff;
    color: aliceblue;
    border: none;
    width: 58px;
    height: 34px;
    margin-left: 16px;
}
.person{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    top: 10px;
    left: 20px;
}
.pic_1{
    width: 25px;
    height:25px;
    margin-left: 50px;
    position: relative;
    top: 10px;
}
.pic_2{
    width: 25px;
    height:25px;
    margin-left: 20px;
    position: relative;
    top: 10px;
}
.middle{
    position: relative;
    top: 54px;
    border: solid #f6f6f6 2px;
    height: 200px;
    width: 100%x;
}
.middle_head{
    margin-left: 255px;
    position: relative;
    top: 20px;
}
.middle_head>span{
    font-size: 15px;
    color: #1a1a1a;
    position: relative;
    top: 20px;
}
.head_word{
    font-size: 22px;
    font-weight: 600;
}
.middle_buttom{
    width: 1000px;
    position: relative;
    top: 100px;
}
.middle_buttom>span{
    font-size: 14px;
    color: #8590a6;
    margin-left: 30px;
}
.follow{
    width: 96px;
    height: 34px;
    background-color: #0084ff;
    color: #f6f6f6;
    border: none;
}
.write{
    width: 96px;
    height: 34px;
    background:none;
    color: #0084ff;
    border: solid 1px #0084ff;
    margin-left: 50px;
}
.buttom{
    width: 1100px;
}
#input_box{
    width: 694px;
    height: 200px;
    border: solid #f6f6f6 2px;
    margin-top: 60px;
    display: none;
    margin-left: 0px;
}
.import{
    width: 670px;
    height: 132px;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    outline: none;
    resize:none;
    margin-left: 15px;
}
.sum{
    width: 96px;
    height: 34px;
    background-color: #0084ff;
    color: #f6f6f6;
    border: none;
    float: right;
    margin-right: 10px;
    border-radius: 4px;
}
.left_top{
    margin-top: 60px;
    height: 50px;
    width: 694px;
    text-align: center;
    border: solid #f6f6f6 2px;
    position: relative;
    right: 200px;
}
.left_top>span{
    position: relative;
    top: 30%;
    color: #8590a6;
    font-size: 15px;
}
.left{
    width: 694px;
    border: solid #f6f6f6 2px;
    margin-top: 10px;
    float: left;
}
.left_an{
    width: 694px;
    border: solid #f6f6f6 2px;
    margin-top: 10px;
    float: left;
    display: none;
}
.pic1{
    width: 38px;
    height: 38px;
    margin-left: 20px;
    margin-top: 15px;
}
.nicname{
    position: relative;
    top: -20px;
    font-size: 15px;
    font-weight: 600;
    color: #444444;
}
.intro{
    margin-left: -35px;
    font-size: 14px;
    color: #646464;
}
.impose{
    font-size: 14px;
    color: #8590a6;
    margin-left: 20px;
    margin-top: 10px;
}
.matter{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: 5px;
}
.time{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
    color: #8590a6;
}
.agree1{
    background-color: rgba(0,132,255,.1);
    color: #0084ff;
    width: 97.83px;
    height: 34px;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
}
.agree{
    background-color: rgba(0,132,255,.1);
    color: #0084ff;
    width: 97.83px;
    height: 34px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.disagree1{
    background-color: rgba(0,132,255,.1);
    color: #0084ff;
    width: 97.83px;
    height: 34px;
    border: none;
    border-radius: 4px;
    outline: none;
}
.word{
    color: #76839b;
    font-size: 14px;
    margin-left: 24px;
}
.left_middle{
    width: 694px;
    border: solid 1px #ebebeb;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.middle_in{
    width: 684px;
    border-top: none;
    margin-top: 20px;
}
.left_middle>hr{
    color: #ebebeb;
    margin-top: 20px;
    border: solid 1px;
    width: 654px;
}
.more{
    color: #8590a6;
    width: 100px;
    background-color: white;
    position: relative;
    top: -10px;
    text-align: center;
}
.left_buttom{
    width: 694px;
    height: 50px;
    border: solid 1px #ebebeb;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    float: left;
    color: #8590a6;
}
.right_head{
    width: 296px;
    height: 280px;
    margin-bottom: 10px;
    margin-left: 715px;
    border: solid #f6f6f6 2px;
    position: relative;
    top: -55px;
}
.rightIn{
    width: 256px;
    margin-left: 20px;
}
.rightIn>hr{
    color: #ebebeb;
    border: solid 0.5px;
    margin-top: 15px;
}
.pic2{
    width: 60px;
    height: 60px;
    margin-top: 15px;
}
.nicname_1{
    position: relative;
    top: -30px;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
}
.intro_1{
    position: relative;
    font-size: 14px;
    color: #1a1a1a;
    left: -45px;
}
.attn{
    width: 120px;
    height: 34px;
    background-color: #0084ff;
    color: #f6f6f6;
    font-size: 15px;
    border: none;
    position: relative;
    top: 45px;
    left: 20px;
}
.attn1{
    width: 120px;
    height: 34px;
    color: #859085;
    background-color: white;
    border: solid  0.5px #1a1a1a;
    font-size: 15px;
    position: relative;
    top: 45px;
    left: 30px;
 }
.right_middle{
    width: 296px;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 715px;
    border: solid #f6f6f6 2px;
    position: relative;
    top: -55px;
}
.right_in{
    width: 256px;
    margin-left: 20px;
}
.relative{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #1a1a1a;
}
.right_in>hr{
    color: #ebebeb;
    border: solid 0.5px;
    margin-top: 15px;
}
.link{
    color: #175199;
    font-size: 14px;
    position: relative;
    top: 15px;
}
.right_in>span{
    font-size: 14px;
    color: #8590a6;
    position: relative;
    top: 15px;
}
.right_buttom{
    width: 296px;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 715px;
    position: relative;
    top: -55px;
}
.line1>a{
    color: #859085;
    font-size: 13px;
    margin-left: 2px;
}
.line2{
    margin-top: 5px;
}
.line2>a{
    color: #859085;
    font-size: 13px;
    margin-left: 2px;
}
/* .lowest{
    width: 694px;
    height: 54px;
    border: solid #f6f6f6 2px;
    position: fixed;
    bottom: 0;
    left: 210px;
}
#agree{
    background-color: rgba(0,132,255,.1);
    color: #0084ff;
    width: 97.83px;
    height: 34px;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 4px;
    outline: none;
}
#disagree{
    background-color: rgba(0,132,255,.1);
    color: #0084ff;
    width: 97.83px;
    height: 34px;
    border: none;
    border-radius: 4px;
    outline: none;
}
.lowest>span{
    margin-left: 40px;
    color: #8590a6;
} */
