*{
    text-decoration: none;
}
.head{
    position:fixed;
    height: 52px;
    width: 3000px;
    border-bottom: #f6f6f6 solid;
    z-index:1000;
}
.content{
    padding-left: 16px; 
    position: absolute;
    left: 300px;
}
.zhihu{
    font-size: 30px;
    color: #0084ff;
}
.home_page{
    color: #8590a6;
    font-size: 15px;
    padding-left: 30px;
}
.find{
    color: #8590a6;
    font-size: 15px;
    padding-left: 30px;
}
.answer{
    color: #8590a6;
    font-size: 15px;
    padding-left: 30px;
}
#search{
    height: 34px;
    width: 326px;
    padding-left: 16px;
    margin-left: 30px;
    outline: none;
}
#commit{
    background-color: #0084ff;
    color: aliceblue;
    border: none;
    width: 58px;
    height: 34px;
    margin-left: 16px;
}
.ask{
    background-color: #0084ff;
    color: aliceblue;
    border: none;
    width: 58px;
    height: 34px;
    margin-left: 16px;
}
.middle{
    position: relative;
    top: 54px;
    border: solid #f6f6f6 2px;
    height: 200px;
    width: 100%x;
}
.middle_buttom{
    width: 1000px;
    margin: auto;
    position: relative;
    top: 150px;
}
.follow{
    width: 96px;
    height: 34px;
    background-color: #0084ff;
    color: #f6f6f6;
    border: none;
}
.write{
    width: 96px;
    height: 34px;
    background:none;
    color: #0084ff;
    border: solid 1px #0084ff;
    margin-left: 50px;
}
.buttom{
    width: 1100px;
    margin: auto;
}
#input_box{
    width: 694px;
    height: 200px;
    border: solid #f6f6f6 2px;
    margin-top: 60px;
    display: none;
}
.import{
    width: 690px;
    height: 142px;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    outline: none;
}
.sum{
    width: 96px;
    height: 34px;
    background-color: #0084ff;
    color: #f6f6f6;
    border: none;
    float: right;
}
.left_top{
   margin-top: 60px;
    height: 50px;
    width: 694px;
    text-align: center;
    border: solid #f6f6f6 2px;
}
.left_top>span{
    position: relative;
    top: 30%;
    color: #8590a6;
    font-size: 15px;
}
.left{
    width: 694px;
    height: 1000px;
    border: solid #f6f6f6 2px;
    margin-top: 10px;
    float: left;
}
.right_head{
    width: 296px;
    height: 275.2px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: solid #f6f6f6 2px;
    float: left;
}








.lowest{
    width: 694px;
    height: 54px;
    border: solid #f6f6f6 2px;
    position: fixed;
    bottom: 0;
    left: 210px;
}
.agree{
    background-color: rgba(0,132,255,.1);
    color: #0084ff;
    width: 97.83px;
    height: 34px;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 4px;
    outline: none;
}
.disagree{
    background-color: rgba(0,132,255,.1);
    color: #0084ff;
    width: 97.83px;
    height: 34px;
    border: none;
    border-radius: 4px;
    outline: none;
}
.lowest>span{
    margin-left: 40px;
    color: #8590a6;
}
